<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="login-form soft-box">
        <form CLASS="submit-form" data-controller="admin" data-action="login" method="post">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" name="txt_mail" class="form-control"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" name="txt_pass" class="form-control"/>
            </div>
            <p>
                <!--<span data-target="forgot-pass" class="btn-popup forgot-pass"> Quên mật khẩu ? </span>-->
                <button type="submit" class="btn btn-default">Đăng nhập</button>
                <span class="clearfix"></span>
            </p>
        </form>

    </div>
</div>