<div class="main-controls">
    <ul>

        <li>
            <span class="glyphicon glyphicon-home"></span><span>Thông tin web</span>
            <ul>
                <li>
                    <a href="admin/about.php">
                        <span class="glyphicon glyphicon-wrench"></span><span>Sửa</span>
                    </a>
                </li>
                <li>
                    <a href="admin/appearance.php">
                        <span class="glyphicon glyphicon-star"></span><span>Giao diện</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-forward"></span><span>Slider</span>
            <ul>
                <li>
                    <a href="admin/slider/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-shopping-cart"></span><span>Đơn đặt hàng</span>
            <ul>
                <li>
                    <a href="admin/order/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-list-alt"></span><span>Sản phẩm</span>
            <ul>
                <li>
                    <a href="admin/product/add.php">
                        <span class="glyphicon glyphicon-plus"></span><span>Thêm</span>
                    </a>
                </li>

                <li>
                    <a href="admin/product/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-picture"></span><span>Hình ảnh</span>
            <ul>
                <li>
                    <a href="admin/image-manager/?dir=other">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-bell"></span><span>Dịch vụ</span>
            <ul>
                <li>
                    <a href="admin/service/add.php">
                        <span class="glyphicon glyphicon-plus"></span><span>Thêm</span>
                    </a>
                </li>

                <li>
                    <a href="admin/service/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-th-list"></span><span>Loại sản phẩm</span>
            <ul>
                <li>
                    <a href="admin/cat/add.php">
                        <span class="glyphicon glyphicon-plus"></span><span>Thêm</span>
                    </a>
                </li>

                <li>
                    <a href="admin/cat/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-wrench"></span><span>Phụ tùng</span>
            <ul>
                <li>
                    <a href="admin/accessory/add.php">
                        <span class="glyphicon glyphicon-plus"></span><span>Thêm</span>
                    </a>
                </li>

                <li>
                    <a href="admin/accessory/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span class="glyphicon glyphicon-star"></span><span>Chương trình khuyến mãi</span>
            <ul>
                <li>
                    <a href="admin/promotional/add.php">
                        <span class="glyphicon glyphicon-plus"></span><span>Thêm</span>
                    </a>
                </li>

                <li>
                    <a href="admin/promotional/list.php">
                        <span class="glyphicon glyphicon-eye-open"></span><span>Xem</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>