<div class="">
    <div class="login-form soft-box">
        <form CLASS="submit-form" data-controller="admin" data-action="reset_pass" method="post">
            <div class="form-group">
                <label for="">Nhập mail : </label>
                <input type="text" name="txt_mail" class="form-control"/>
            </div>

            <p >
             <button type="submit" class="btn btn-default">Đăng nhập</button>
            <span class="clearfix"></span>
            </p>
        </form>

    </div>
</div>