<P CLASS="cus-carts btn-popup" data-target="shop-cart">
    <span class="amount-carts"></span><span CLASS="glyphicon glyphicon-shopping-cart"></span>
</P>

<div class="clearfix"></div>
<div class="header-menu soft-box hidden-xs" style="background-color:{{appearance.menu_background_color}}">
    <div class="col-md-9 col-sm-11">
        <div class="cat">
            <ul>
                <li class="home-page"><a href="trang-chu.html">Trang chủ</a></li>
                <li>Sảm phẩm
                    <ul class="sub-menu">
                        <li ng-repeat="item in categories"><a href="trang-chu-{{item.tag}}-{{item.id}}.html">{{item.name}}</a></li>
                    </ul>
                </li>
                <li><a href="#service-collection">Dịch vụ sửa chữa</a></li>
                <li><a href="phu-tung/bang-bao-gia.html">Bảng báo giá</a></li>
                <li><a class="promotional" href="chuong-trinh-khuyen-mai.html">Thông tin khuyến mãi</a></li>
                <li>|</li>
                <li><a href="gioi-thieu.html">Giới thiệu</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="header-menu soft-box hidden-sm hidden-md hidden-lg"  style="background-color:{{appearance.menu_background_color}}">
    <div class="col-md-8 col-sm-12">
        <div class="cat">
            <ul>
                <li class="home-page"><a href="#">Trang chủ</a></li>
                <li class="menu-btn">
                    <span class=" glyphicon glyphicon-align-justify"></span>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="drop-menu">
                <li ng-repeat="item in categories"><a href="trang-chu-{{item.tag}}-{{item.id}}.html">{{item.name}}</a></li>
                <li>|</li>
                 <li><a href="phu-tung/bang-bao-gia.html">Bảng báo giá</a></li>
                <li><a class="promotional" href="chuong-trinh-khuyen-mai.html">Thông tin khuyến mãi</a></li>
                <li>|</li>
                <li><a href="gioi-thieu.html">Giới thiệu</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="service-m" STYLE="border-top:1px solid ##9ad293">
            <p><a style="color:#f9f9f9" href="#service-collection">Dịch vụ sửa chữa</a></p>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
