<div class="list-services soft-box" ng-controller="list-services">
    <div ng-repeat="item in services_all" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <a href="dich-vu-{{item.tag}}-{{item.id}}.html">
            <div class="wrap-item">
                <div class="thumbnails">
                    <img src="{{item.thumbnail}}" alt="{{item.name}}">
                </div>
                <p title="{{item.name}}">{{item.name}}</p>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>
</div>
</div>