<div class="promotionals" ng-controller="list-promotional">
<!--    <div class="item soft-box">
        <p class="title">Công lắp đạt</p>
        <p class="date"></p>
        <div class="des excerpt">
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            dsdsds ds dsdsds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
            ds ds ds dsds ds ds dsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds dsdsds ds ds ds ds ds ds ds ds
            ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds ds
        </div>
        <p class="details text-center">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-minus"></span>
        </p>
    </div>-->


    <div class="bottom"></div>
    <p class="read-more" data-current-page="1">
        Xem tiếp
    </p>
</div>